.container{
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -58.5px -83.5px;
}
.border{
  position: absolute;
  width: 150px;
  height: 100px;
  top: -1px;
  left: -1px;
  box-shadow: 0px 0px 4px 1px inset rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 8.5px;
  border-radius: 4px;
}

.white-border {
  border: 8px solid #f5f5f5;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px inset rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 150px;
  height: 100px;
  top: 1px;
  left: 1px;
  z-index: 3;
}

.clock{
  display: grid;
  position: absolute;
  width: 166px;
  height: 116px;
  top: 0px;
  left: 0px;
  z-index: 2;
  align-content: center;
  color: white;
}

.inner-background{
  background: #89c0d7; 
  position: absolute;
  width: 150px;
  height: 100px;
  top: 7.5px;
  left: 7.5px;
  border-radius: 5px;
  z-index: 1;
}

.bignum{
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
  justify-self: stretch;
  line-height: 1;
}

#ampm{
  margin: 0px 25px 0px;
}
.pm{
  text-align: end;
}
