.title {
  position: absolute;
  width: 165px;
  height: 115px;
  top: 0px;
  left: 0px;
  border: 2px solid #f7f7f7;
  border-radius: 4px;
}

.white-border {
  border: 8px solid rgb(255, 255, 255);
  position: absolute;
  width: 150px;
  height: 100px;
  z-index: 3;
  top: 0px;
  left: 0px;
}


.inner-background{
  background: #89c0d7; 
  border: 4px solid #75b4d0;
  position: absolute;
  width: 142px;
  height: 92px;
  top: 8px;
  left: 8px;
  border-radius: 5px;
}

.clock{
  display: grid;
  position: absolute;
  width: 166px;
  height: 116px;
  top: 0px;
  left: 0px;
  z-index: 2;
  align-content: center;
  color: white;
}

.bignum{
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
  justify-self: stretch;
  line-height: 1;
}

#ampm{
  margin: 0px 25px 0px;
}
.pm{
  text-align: end;
}

